:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333;
  background-color: #f5f6fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #007bff;
  --color-background: #f5f6fa;
  --color-white: #ffffff;
  --color-red: #dc3545;
  --color-shadow: rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: var(--color-background);
}

#root {
  width: 100%;
  height: 100%;
}
